<app-checkbox></app-checkbox>

<dx-data-grid
  [dataSource]="users"
  [showBorders]="true"
  [masterDetail]="{ enabled: true, template: 'detail' }"
  keyExpr="id">

  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxo-paging [pageSize]="25"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="false"></dxo-pager>

  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
    [searchVisibleColumnsOnly]="false">
  </dxo-search-panel>

  <dxi-column dataField="picture.thumbnail"
              caption="Picture"
              [width]="100"
              [allowFiltering]="false"
              [allowSorting]="false"
              cellTemplate="cellTemplate">
  </dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="gender" *ngIf="filters['gender']"></dxi-column>
  <dxi-column dataField="phone" *ngIf="filters['phone']"></dxi-column>
  <dxi-column dataField="location.city" [visible]="false" caption="City"></dxi-column>
  <dxi-column dataField="location.street.name" [visible]="false" caption="Street"></dxi-column>
  <dxi-column dataField="email" [visible]="false"></dxi-column>

  <div *dxTemplate="let data of 'cellTemplate'">
    <img [src]="data.value"/>
  </div>

  <div *dxTemplate="let user of 'detail'">
    <div *ngIf="filters['location'] || filters['email']">

      <div class="master-detail-caption"></div>
      <dx-data-grid
        [dataSource]="getDetails(user.key)"
        [showBorders]="true"
        [columnAutoWidth]="true">
        <dxi-column dataField="location.city"
                    caption="City"
                    *ngIf="filters['location']">
        </dxi-column>
        <dxi-column dataField="location.street.name"
                    caption="Street"
                    *ngIf="filters['location']">
        </dxi-column>
        <dxi-column dataField="email" *ngIf="filters['email']"></dxi-column>
      </dx-data-grid>
    </div>
  </div>

</dx-data-grid>
