<div class="plt-25">

  <div class="form-check">
    <input class="form-check-input"
           type="checkbox"
           id="defaultCheck"
           [(ngModel)]="checkboxFilters.gender"
           (change)="submit()">
    <label class="form-check-label" for="defaultCheck">
      Gender
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input"
           type="checkbox"
           id="defaultCheck"
           [(ngModel)]="checkboxFilters.location"
           (change)="submit()">
    <label class="form-check-label" for="defaultCheck">
      Location
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input"
           type="checkbox"
           id="defaultCheck"
           [(ngModel)]="checkboxFilters.email"
           (change)="submit()">
    <label class="form-check-label" for="defaultCheck">
      Email
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input"
           type="checkbox"
           id="defaultCheck"
           [(ngModel)]="checkboxFilters.phone"
           (change)="submit()">
    <label class="form-check-label" for="defaultCheck">
      Phone
    </label>
  </div>

</div>
